$Black200: #222;
$White: #fff;
$dark-gray: #333;
$gray: #444;
$light-gray: #555;
$highlight-gray: rgba($White, 0.8);

// Global dark mode styles
body.dark-mode {
  background-color: $dark-gray;
  color: $White;

  // Styling Antd Modal
  .ant-modal {
    background-color: $dark-gray;
    color: $White;
    border: 1px solid $light-gray;

    .ant-modal-header {
      background-color: $Black200;
      color: $White;
      border-bottom: 1px solid $gray;
    }

    .ant-modal-title {
      color: $White;
    }

    .ant-modal-body {
      background-color: $dark-gray;
      color: $White;
    }

    .ant-modal-footer {
      background-color: $Black200;
      border-top: 1px solid $gray;

      .ant-btn {
        color: $White;
        background-color: $light-gray;
        border-color: $gray;

        &:hover {
          background-color: $gray;
          border-color: $light-gray;
        }
      }
    }
  }

  // Other styles
  a {
    color: $highlight-gray;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span div,
  button {
    color: $White !important;
  }

  .ant-layout-header {
    background-color: $Black200;
  }

  .ant-menu-item {
    color: $highlight-gray;
    background-color: $Black200 !important;

    &:hover {
      background-color: $gray !important;
    }

    &-selected {
      background-color: $light-gray !important;
      color: $White !important;
    }
  }

  .ant-btn {
    color: $White;
    background-color: $light-gray;
  }

  .ant-dropdown-menu {
    background-color: $dark-gray;
    border-color: $gray;
  }

  .ant-modal .ant-modal-content {
    background-color: $dark-gray;
  }

  .ant-modal-title {
    background-color: $dark-gray;
  }

  .ant-modal .ant-modal-footer{
    background-color: $dark-gray;
  }

  .ant-dropdown-menu-item {
    color: $White;

    &:hover {
      background-color: $light-gray;
    }
  }

  .ant-dropdown-menu-title-content {
    color: $White;
  }

  .ant-dropdown .ant-btn,
  .ant-btn-variant-outlined {
    background-color: $Black200 !important;
    border-color: $gray !important;
    color: $White !important;

    &:hover {
      background-color: $gray !important;
      color: $White !important;
      border-color: $light-gray !important;
    }
  }

  .ant-layout-content {
    color: $White !important;
  }

  // Antd Layout 背景
  .ant-layout {
    background-color: $dark-gray;
  }

  // 按鈕樣式統一
  .ant-btn {
    color: $White;
    background-color: $light-gray;
  }
}

// Dark mode toggle button
.dark-mode-toggle {
  width: 50px;
  height: 25px;
  background-color: $White;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: $White;
    border-radius: 50%;
  }
}

// Custom header styles
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: $White;
  max-width: "50%";

  body.dark-mode & {
    background-color: $Black200;
  }
}

.displayToggle {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anticon-sun {
  color: rgb(217, 49, 71) !important;
}
